<app-navbar></app-navbar>
<form class="form-inline mt-2 mt-md-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="search()">Search</button>
</form><br><br>
&nbsp;<button class="btn btn-outline-success my-2 my-sm-0">หอพัก....................................</button>
<button class="btn btn-outline-success my-2 my-sm-0" (click)="eapm()">แก้ไขหอพัก</button>
<button class="btn btn-outline-success my-2 my-sm-0">ลบหอพัก</button>
<br><br>
&nbsp;<button class="btn btn-outline-success my-2 my-sm-0">หอพัก....................................</button>
<button class="btn btn-outline-success my-2 my-sm-0"  (click)="eapm()">แก้ไขหอพัก</button>
<button class="btn btn-outline-success my-2 my-sm-0">ลบหอพัก</button>
  
  
